[db]
driver = "mysql"
ip = "192.168.1.106"
port = 3306555
userName = "amir"
password = "mirzaei"
name = "db"
path = "."

[web]
bindingIpAddress = "0.0.0.0"
port = 8071
readTimeOutInSec = 7
idleTimeoutInSec = 10
writeTimeoutInSec = 20
readHeaderTimeoutInSec = 1

[grpc]
bindingIpAddress = "127.0.0.1"
port = 8070
maxReceiveMsgSize = 5120
readBufferSize = 5120
hasReflection = true

[logger]
level = 0
directory = ""
fileCreationMode = 1
remoteURL = "http://127.0.0.1:8080/ping"
console = true

[scheduler]
driver = redis
ip = 127.0.0.1
port = 6379
prefix = task_scheduler
userName = amir
password = mirzaei
